* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: small;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

div.firstdiv {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

div.form {
    position: absolute;
    border: none;
    background-color: white;
    height: 100vh;
    width: 29%;
    left: 30%;
    right: 30%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
.form label{
    font-size: 8px;
    color:   rgb(102, 99, 99);
    font-weight: 500;

}


input[type=text],
[type=password] {
    border-radius: 5px;
    padding-left: 10px;
    height: 37px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border:1px solid rgb(181, 176, 176);
}

input [type=radio],
[type=checkbox] {
    margin-bottom: 20px;

}
.psw{
    font-size: 8px;
    margin-top: -15px;
    margin-bottom: 20px;
    color:   rgb(102, 99, 99);

}
.inputlabel{
  color:  rgb(102, 99, 99);
  font-weight: 500;
}

.icon p{
    margin-top: 5px;
    padding: 5px;
    font-size: small;
    color:  rgb(102, 99, 99) ;
}

      .inputtext{
        position: relative;
        width: 354px;
        height: 37px;
        border: 2px solid rgba(240, 75, 75, 0.871);
        border-radius: 5px;
        margin-top: 5px;
      } 
      
      
      .fa-exclamation-circle{
        position: absolute;
        right: 0%;
        top: 10px;
        padding-right: 7px;
        color: rgba(205, 10, 10, 0.871);
      }


.errormsg{
    margin-top: -9px;
    margin-bottom: 20px;
    font-size: 10px;
    color: rgb(240, 75, 75);
    opacity: 0.8;
}

.rem span {
    margin: 10px;
  color:   rgb(102, 99, 99);
}
 .togglebtn{
display: flex;
}
.togglebtn input{
    width: 0;
    height: 0;
}
.togglebtn p{
    margin-top: 2px;
    margin-left: 10px;
    color:   rgb(102, 99, 99);
}
.switch{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
    border: 1px solid #ccc;
    background-color:blue ;
    border-radius: 3rem;
    transition: all 0.3s;
}
.switch::after{
    position: absolute;
    content: "";
    background-color: whitesmoke;
    width: 12px;
    height: 12px;
    border-radius: 2rem;
    /* right: 28px; */
    top: 0.8px;
    border:1px solid rgb(184, 178, 178); ;
    transition: all 0.3s;

}
input[type="checkbox"]:checked+.switch{
    background-color: white;
}
.offcheck:checked+.switch::after{
    translate: 1.4rem;
}
.offcheck:checked{
    display: none;
}
.company input{
    accent-color: rgb(13, 13, 148);
    opacity: 0.8;
}
.company{
    margin-top: 10px;
}


.companyoption {
 /* margin: 10px; */
 margin-top: 10px;
 margin-right:8px;
 margin-bottom: 15px;
   
}

.drop select {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    
}
select .techop{
    color:   rgb(102, 99, 99);
}
.btn{
    display: flex;
    justify-content: space-between;
    
}
.btn1 {
    border: 1px solid rgb(68, 49, 174);
    color: rgb(57, 28, 221);
    width: 35%;
    height: 40px;
    opacity: 0.7;
    border-radius: 5px;
    margin-top: 90px;
    background-color: transparent;
   
    
}


.btn2 {
    background-color: rgb(57, 28, 221);
    opacity: 0.8;
    color: white;
    border: none;
    width: 35%;
    height: 40px;
    border-radius: 5px;
    margin-top: 90px;
}


